<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangar </title>
  </head>
  <body>
    <form class="" action="/guess" method="post">
      <input type="text" name="description" value="" placeholder="description">

    </form>
  </body>
</html>


<!-- Trying to get a feel of the HTML  -->
